In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
data_path = 'C:/Users/mccal/Desktop/Springboard Files/Springboard 26 SPARK SQL/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data'

In [2]:
file_path = data_path+'/location_temp.csv'
df1 =spark.read.format('csv').option('header','true').load(file_path)
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [3]:
df1.count()

500000

In [4]:
df1_s1 = df1.sample(fraction=0.1, withReplacement=False)

In [6]:
df1_s1.count()

50061

In [8]:
df1_s1.groupBy('location_id').agg({'temp_celcius':'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.363636363636363|
|     loc226|24.853211009174313|
|     loc463|23.231578947368423|
|     loc150| 31.98148148148148|
|     loc292| 29.43617021276596|
|     loc311|24.333333333333332|
|      loc22| 28.42452830188679|
|     loc351| 28.38938053097345|
|     loc370|29.169642857142858|
|     loc419|29.144329896907216|
|      loc31|25.011764705882353|
|     loc305|27.455445544554454|
|      loc82| 27.48421052631579|
|      loc90|23.183908045977013|
|     loc118|24.706521739130434|
|     loc195|             27.32|
|     loc208|26.572649572649574|
|      loc39|25.319148936170212|
|      loc75|22.881720430107528|
|     loc228|          27.34375|
+-----------+------------------+
only showing top 20 rows

In [9]:
df1_s1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.575757575757574|
|       loc1|28.153846153846153|
|      loc10|25.738095238095237|
|     loc100|27.333333333333332|
|     loc101|25.117021276595743|
|     loc102|30.387755102040817|
|     loc103|25.520408163265305|
|     loc104|26.134831460674157|
|     loc105| 26.14018691588785|
|     loc106| 27.03921568627451|
|     loc107| 33.38823529411765|
|     loc108|32.208695652173915|
|     loc109|           24.4375|
|      loc11|25.104166666666668|
|     loc110| 26.28723404255319|
|     loc111|31.178947368421053|
|     loc112| 33.78021978021978|
|     loc113|30.528301886792452|
|     loc114|            29.375|
|     loc115|23.095744680851062|
+-----------+------------------+
only showing top 20 rows

In [10]:
df1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows